version: "3"
services:
  rabbit:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
  receiver:
    image: mq_bot:latest
    depends_on:
      - rabbit
    environment:
      BMQ_APP_MODE: 'receiver'
      BMQ_BOT_TYPE_USED: 'tg,jabber'
      BMQ_RMQ_DSN: 'amqp://user:password@rabbit/'
      BMQ_LOG_LEVEL: 'INFO'
      BMQ_TG_API_HASH: '***'
      BMQ_TG_API_ID: '***'
      BMQ_TG_BOT_TOKEN: '***'
      BMQ_JABBER_UID: '***'
      BMQ_JABBER_PASSWORD: '***'
  replayer:
    image: mq_bot:latest
    depends_on:
      - rabbit
    environment:
      BMQ_APP_MODE: 'replayer'
      BMQ_BOT_TYPE_USED: 'tg,jabber'
      BMQ_RMQ_DSN: 'amqp://user:password@rabbit/'
      BMQ_LOG_LEVEL: 'INFO'
      BMQ_TG_API_HASH: '***'
      BMQ_TG_API_ID: '***'
      BMQ_TG_BOT_TOKEN: '***'
      BMQ_JABBER_UID: '***'
      BMQ_JABBER_PASSWORD: '***'
